# Игнорировать сам config.py
config.py

# Игнорировать папку __pycache__ (автоматически создаваемые байт-код файлы Python)
__pycache__/

# Игнорировать виртуальные окружения (например, venv)
ai_foto/

# Игнорировать архив
архив/

# Игнорировать скрытые файлы настроек IDE (PyCharm)
.idea/

# Игнорировать файлы с чувствительными данными (пароли, ключи API)
*.env
*.key

# Опционально: игнорировать директорию для хранения медиа/данных, если она есть в репозитории
# media/
# data/

# Большие файлы данных
*.jpg
*.jpeg
*.png
*.mp4
*.avi
*.mov
*.pdf
*.zip
*.rar
*.yaml

# Веса моделей ML
*.pt
*.pth
*.h5
*.pkl
